POMMS/results/
.DS_Store
POMMs/.RData
POMMs/.Rhistory
POMMs/client_secret_573831164304-jqqj3i5mhvubbkkuifvtgkfsut8lse3g.apps.googleusercontent.com.json
POMMs/sonic-426715-75af23aca274.json
POMMs/gitignore/
.DS_Store
/gitignore
POMMs/Data/.DS_Store
